.video {
    width:30vw;
    margin: auto;
    margin-top:2%;
    margin-bottom:2%;
    display: block;
}

.photos {
    width: 62vw;
    margin: auto;
}

.photos > .col-md-6 {
    float:left;
}

#housevideo {
    width:60vw;
}

.categories {
    margin-left:5%;
}

.categories h3, .categories p {
    text-align: center;
}

