a {
    font-family: 'Vollkorn', serif;
    font-weight: 300;
    color: #636363;
    text-decoration: none;
    font-size: 22px;
    margin: 0 20px 0 0;
    position: relative;
}

a:hover {
    color: #f9f7f0;
    text-decoration: none;
    transition-duration: .3s;
}

a:before {
    position: absolute;
    top: 100%;
    left: -5%;
    width: 110%;
    height: 3px;
    background-color: #E58FB8;
    content: '';
    -webkit-transform: translateY(-10px);
    -webkit-transform: scale(1, 1);
    transform-origin: top center;
    opacity: 1;
    transition-property: -webkit-transform, opacity;
    transition-duration: .3s;
}

a:hover:before {
    opacity: 1;
    -webkit-transform: scale(1, -10);
    z-index: -10;
}

.contents {
    padding: 6% 10% 3% 10%;
}

#header-about {
    background-color: #E58FB8;
    padding: 0.3%;
    color: #f9f7f0;
}

#header-about:before {
    -webkit-transform: translateY(0px);
    opacity: 0;
}

.image img{
    width:15vw;
    float:right;
}

.image p {
    padding-top:5%;
    float: right;
}

li {
    list-style-type: square;
}
 

.iconify{
    transform: rotate(90deg)!important;
}
    
  