p,
span {
    font-size: 16px;
}

.row {
    padding: 10px;
}

/* Role, Team, Platform descriptions */
.col-md-6,
.categories .col-md-6 p,
.col-md-4,
.col-md-4 p,
.col-sm-4 {
    text-align: center;
}

.col-md-12 {
    margin-bottom: 30px;
    text-align: center;
}

.col-md-12 img {
    width: 100%
}


.caption {
    text-align: center;
    margin: auto;
    display: block;
    margin-top: 0px;
}

img {
    width: 100%;
    margin: auto;
    display: block;
}

.video {
    width: 100%;
 
    display: block;
}

.video-demo {
    width: 100%;
    margin: auto;
    margin-bottom: 5%;
    display: block;
}

.modal-dialog {
    max-width:60%;
}

@media screen and (max-width:425px) {
    .modal-dialog {
        margin-top:50%;
        max-width:100%;
    }
}

/* cognito */
#cognito-cover {
    margin-left: 50%;
    margin-top: -29%;
}

@media screen and (max-width:767px) {
    #cognito-cover {
        margin-left: auto;
        margin-top: auto;
    }
}

/* trainar */
#trainarscreens {
    background-color: #dab188;
}

/* smart triaging */
.shadow {
    -webkit-box-shadow: 6px 7px 21px 0px rgba(0, 0, 0, 0.56);
    box-shadow: 6px 7px 21px 0px rgba(0, 0, 0, 0.56);
}

.col-sm-4 img {
    width: 60%;
    border-radius: 3px;
}

#smartwatchvid {
    margin-top:20%;
}

@media screen and (max-width:768px) and (min-width:426px) {
    .col-sm-4 img {
        width: 80%;
    }
    #smartwatchvid {
        margin-top: 80%;
    }
}

@media screen and (max-width:425px) {
    .col-sm-4 img {
        width: 40%;
    }
    .triagevideo {
        width: 80%;
        margin-left:10%;
    }
    #smartwatchvid {
        margin-top: 1%;
    }
}

#smartwatch2 {
    margin-top: 500px;
}

.mobile {
    margin-top: 10%;
}
@media screen and (max-width:768px) and (min-width:426px) {
    .mobile {
        margin-top: 5%;
    }
}
@media screen and (max-width:425px) {
    .mobile {
        margin-top: auto;
    }
}

.concept-animation {
    margin-bottom: 5px;
}
.screens img {
    width: 70%;
}

.invision {
    float: right;
    padding: 0;
}

.invision-frame {
    height: 900px;
    transform: scale(0.7);
}

@media screen and (max-width:425px) {
    .invision-frame {
        transform: scale(0.5);
        margin-top: -50%;
        margin-bottom: -50%;
    }
}

#carouselExampleIndicatorsNeo {
    width: 90%;
    margin-left:5%;
}

/* neokinesis */
#greenman {
    margin-left: 25%;
}

@media screen and (max-width:425px) {
    #greenman {
        margin-left: auto;
    }
}

#neoClap img {
    width: 50%;
}


/* immersion */
.carousel-item .w-100 {
    width: 80% !important;
}

#carouselExampleIndicators1 {
    width: 80%;
    height: 100%;
    margin-left:10%;
}

.carousel-caption {
    left: 0px;
    right: 0px;
    position: relative;
    height:150px;
}

.carousel-caption h5 {
    margin-bottom: 5px;
}

.carousel-caption p {
    text-align: center;
}

#carouselExampleIndicators .carousel-control-prev-icon, #carouselExampleIndicators1 .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

#carouselExampleIndicators .carousel-control-next-icon, #carouselExampleIndicators1 .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#carouselExampleIndicators .carousel-control-prev-icon, #carouselExampleIndicators .carousel-control-next-icon {
    margin-bottom: 150px;
}

#carouselExampleIndicators1 .carousel-control-prev-icon, #carouselExampleIndicators1 .carousel-control-next-icon {
    margin-bottom: -50px;
}


#conceptIdeation {
    margin-bottom:-5px;
}

#researchVisual img {
    width: 70%;
}

.photos {
    width: 70vw;
    margin: auto;
    background-color: #E58FB8;
}

.photos > .col-md-6 {
    float:left;

}

/* row images */
.image {
    margin-top: 2%;
    margin-bottom: 2%;
}

.image img {
    width: 100%;
    margin: auto;
    display: block;
}



.next-work:hover {
    background-color: #E58FB8d5;
    transition-duration: 0.5s;
}

.next-work:hover h1 {
    transition-duration: 0.5s;
    color: #f9f7f0;
}


.next-work {
    /* position: fixed; */
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 80px;
    background-color: #E58FB8;
    transition-duration: 0.5s;
}

.next-work h1 {
    margin-bottom: 0px;
    transition-duration: 0.5s;
    width: 100%;
    margin-top: 15px;
}


.iconify {
    transform: rotate(270deg) !important;
}

/* various ui */
.ui {
    margin-bottom: 100px;
}
.ui .col-md-6 p, .ui .col-md-12 p {
    text-align: center;
}
.logo img {
    width:60%;
}

.hawk .carousel-item {
    margin-top: -3vw;
    margin-bottom:-3vw;
}
@media screen and (max-width:768px) {
    .hawk .carousel-item {
        margin-top: -7vw;
        margin-bottom:-7vw;
    }
}
.hawk .carousel-item .w-100 {
    width:40%!important;
}

@media screen and (max-width:768px) {
    .hawk .carousel-item .w-100 {
        width:60%!important;
    }
}

/* halloween ar */

.ar video {
    width:50%;
    margin-left: 8vw;
}

@media screen and (max-width:425px) {
    .ar video {
        width: 60%;
        margin-bottom: 10px;
        margin-left: 20vw;
    }
}

#card{
    font-family: 'Vollkorn', serif;
    font-weight: 300;
    color: #636363;
    text-decoration: none;
    margin: 0 20px 0 0;
    position: relative;
}

#card:before {
    position: absolute;
    top: 100%;
    left: -5%;
    width: 110%;
    height: 3px;
    background-color: #E58FB8;
    content: '';
    -webkit-transform: translateY(-10px);
    -webkit-transform: scale(1, 1);
    transform-origin: top center;
    opacity: 1;
    transition-property: -webkit-transform, opacity;
    transition-duration: .3s;
}
#card:hover:before {
    opacity: 1;
    -webkit-transform: scale(1, -10);
    z-index: -10;
}
#card:hover {
    color: #f9f7f0;
    text-decoration: none;
    transition-duration: .3s;
}