html,
body {
    max-width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}


/*------------------------------------------------------------------carousel*/
.slide-show {
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

@media screen and (max-width:420px) {
    .slide-show {
        padding: 0px 0px 20px 0px;
    }
}

.carousel-inner {
    height: 100vh;
    width: 100vw;
    /*adjust width of carousel*/
}

@media screen and (max-width:420px) {
    .carousel-inner {
        width: 105vw;
    }
}

/* make carousel full-width touch the edges */
.slide-show>.col-md-12 {
    padding: 0px;
}

.carousel-slides {
    height: 100vh;
    padding: 0px;
}

/*individual project columns*/
.col-md-4 {
    float: left;
    height: 100%;
    text-align: center;
    /* to make h2 centered */
    position: relative;
}

.col-md-4 .text h3 {
    display: block;
    /*makes text centered*/
    position: absolute;
    bottom: 35%;
    width: 95%;

}

.col-md-4>img {
    margin-top: 10%;
}


/* hover effects */

/* hover image effects */
.parent:hover .child,
.parent:focus .child {
    transform: scale(1.09);
    transition: 0.5s ease-in-out;
}

.child {
    transition: 0.5s ease-in-out;
}

/* hover text effects */
.parent:hover .childText,
.parent:focus .childText {
    transition: 0.5s ease-in-out;
    transform: scale(1.09);
    display: block;
    /*makes text centered*/
    position: absolute;
    bottom: 35%;
    width: 100%;
}

.parent:hover .childText h3,
.parent:focus .childText h3 {
    transition: 0.5s ease-in-out;
    color: #f9f7f0;
}

.childText, .childText h3 {
    transition: 0.5s ease-in-out;
    display: block;
    /*makes text centered*/
    position: absolute;
    bottom: 35%;
    width: 100%;
}




.work1 {
    background-color: #f7dc6f;
}

.work2 {
    background-color: #ff84ce;
}

.work3 {
    background-color: #77d7e7;
}

.work4 {
    background-color: #ff84ce;
}

.work5 {
    background-color: #77d7e7;
}

.work6 {
    background-color: #f7dc6f;
}

#cognito {
    width: 50%;
    margin-left: 53%;
}

#house {
    margin-bottom: -33%;
    margin-top: 15%;
    margin-left: -10%;
    width: 90%;
}

#neo {
    width: 80%;
}









/*carousel arrows*/

/*footer bar arrows*/
.arrowbar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(240, 248, 255, 0.527);
}


.carousel-control-next {
    /* top: 30%; */
    margin-right: 25%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 5em;
}

.carousel-control-prev {
    /* top: 30%; */
    margin-left: 25%;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 5em;
}

.fa {
    color: rgb(58, 58, 58);
}

/*scroll vertically*/
.vert .carousel-item-next.carousel-item-left,
.vert .carousel-item-prev.carousel-item-right {
    -webkit-transform: translate3d(0, 5%, 0);
    transform: translate3d(0, 5%, 0);
}

.vert .carousel-item-next,
.vert .active.carousel-item-right {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100% 0);
}

.vert .carousel-item-prev,
.vert .active.carousel-item-left {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
}