/* row categories centering*/

p, span {
    font-size: 16px;
}
.col-md-6 {
    text-align: center;
}
.col-md-6 p{
    text-align: center;
}


.col p {
    margin:2% auto auto;
    display: block;
    max-width:60vw;
}

.container {
    width:90%;
}

.image {
    margin-top:2%;
    margin-bottom:2%;
}

.image img {
    width:60vw;
    margin: auto;
    display: block;
}


.video {
    width:30vw;
    margin: auto;
    margin-top:2%;
    margin-bottom:2%;
    display: block;

}

.photos {
    width: 62vw;
    margin: auto;
}

.photos > .col-md-6 {
    float:left;
}

.work-links {
    margin:auto;
}

.prev-work {
    background-color: #DAB188;
}

.prev-work:hover {
    background-color: #DAB188b5;
    transition-duration: 0.5s;
}

.next-work {
    background-color: #5BBF75;
}

.next-work:hover {
    background-color: #5BBF75b5;
    transition-duration: 0.5s;
}