p, span {
    font-size: 16px;
}
.col-md-4 {
    text-align: center;
}
.col-md-4 p {
    text-align: center;
}

.container {
    width:90%;
}

.col p {
    margin:auto;
    display: block;
    max-width:60vw;
}

.caption p{
    text-align: center;
}

.caption {
    margin:auto;
    display: block;
}

.col-md-11 {
    display: block;
    margin:auto;
}
.logo img {
    width:50vw;
    margin: auto;
    display: block;
}

.video {
    width:60vw;
    margin: auto;
    margin-top:6%;
    margin-bottom:2%;
    display: block;

}

.screens {
    background-color: #dab188;
    max-width:60vw;
}

.video-demo{
width:60vw;
margin: auto;
margin-bottom:5%;
display: block;

}
.prev-work {
    background-color: #da9288;
}

.prev-work:hover {
    background-color: #da9288d5;
    transition-duration: 0.5s;
}

.next-work {
    background-color: #E58FB8;
}

.next-work:hover {
    background-color: #E58FB8d5;
    transition-duration: 0.5s;
}


