html,
body {
    max-width: 100%;
    overflow-y:auto!important;
    /* overflow-x:hidden; */
}



.main-body{
    width: 100vw;
    margin: 0px;
    /* padding: 20px 0px 20px 0px; */
}

@media screen and (max-width:420px) {
    .main-body{
        padding: 0px 0px 20px 0px;
    }
}

.col-md-4 {
    background-color:  rgb(236, 158, 146);
    height:320px;
    float:left;
}

.col-md-4:hover {
    background-color: rgb(233, 167, 222);
}
.parent {
    padding:0;
    overflow: hidden; 
}
.child {
    transition: 0.5s ease-in-out;
    display:inherit;
    background-position: center;
    background-size: 112%;
    height: 100%;
    width: 100%;
}
.text {
    transition: 0.5s ease-in-out;
    height: 50px;
    width: 100%;
    background-color: #00000075;
}

.text a {
    transition: 0.2s ease-in-out;
    font-size: 35px;
    color: #ffffff;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: -270px;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Crimson Text', serif;
}
.parent:hover .child,
.parent:focus .child {
  transform: scale(1.09);
  transition: 0.5s ease-in-out;
}

/* .parent:hover .text, .parent:focus .text {
    background-color: #00000079;
    transition: 0.5s ease-in-out;
}

.parent:hover a, .parent:focus a {
    color: #ffffff;
    transition: 0.2s ease-in-out;
} */

.work1 {
    background-image: url("../img/portfolio/screens.png");
}
.work2 {
    background-image: url("../img/portfolio/trainar.png");
    background-size: 75%;
    background-repeat:no-repeat;

    -webkit-filter: drop-shadow(3px 3px 3px rgba(34, 34, 34, 0.555));
    filter: drop-shadow(3px 3px 3px #222);
}
.work3 {
    background-image: url("../img/portfolio/house-model.png");
    -webkit-filter: drop-shadow(3px 3px 3px rgba(34, 34, 34, 0.555));
    filter: drop-shadow(3px 3px 3px #222);
    background-size: 75%;
    background-repeat:no-repeat;
    background-position-y: 70px;
}
.work4 {
    background-image: url("../img/portfolio/immersion-underwater.png");
    -webkit-filter: drop-shadow(3px 3px 3px rgba(34, 34, 34, 0.555));
    filter: drop-shadow(3px 3px 3px #222);
    background-size: 70%;
    background-repeat:no-repeat;
    background-position-y: 70px;
}
.work5 {
    background-image: url("../img/portfolio/eye.png");
    -webkit-filter: drop-shadow(3px 3px 3px rgba(34, 34, 34, 0.555));
    filter: drop-shadow(3px 3px 3px #222);
    background-size: 70%;
    background-repeat:no-repeat;
    background-position-y: 20px;
}
