html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

@media only screen and (max-width:425px) {
    h1 {
        margin-top: 10px;
        font-size: 3.5em;
    }
}

/*--------- Buttons and Sub-Title ---------- */
.categories {
    width: 100vw;
    text-align: center;
}

/* Sub-Title */
.categories h4 {
    font-size: 1.5vw;
}

@media screen and (max-width:768px) {
    .categories h4 {
        font-size: 2vw;
    }
}

@media screen and (max-width:425px) {
    .categories h4 {
        font-size: 3.5vw;
    }
}

/* Button */
.button {
    border: 2px solid #FA8E73;
    border-radius: 20px;
    float: left;
    margin-left: 10%;
    margin-right: 5%;
    padding: 20px 10px 0px 10px;
}


@media screen and (max-width:425px) {
    .button {
        margin-left:8vw;
        margin-bottom: 1vw;
        width:80vw;
    }
}

.button:hover,
.hovered {
    background-color: #FA8E73;
    transition: 0.4s ease-in-out;
    
}

.button:hover h2,
.hovered {
    color: #f9f7f0;
    transition: 0.4s ease-in-out;
    cursor: pointer;
}

/* Button Text */
.categories h2 {
    text-transform: none;
    font-size: 1.5vw;
}
@media screen and (max-width:425px) {
    .categories h2 {
        font-size: 3.5vw;
    }
}
/*--------- Works Grid --------*/
.works {
    margin-top:8vw;
}

@media screen and (max-width:425px) {
    .works {
        z-index: -1;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
}

@media screen and (max-width:768px) {
    .grid-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 480px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}

.grid-container a {
    text-decoration: none;
}

/* Individual Items */
.grid-item {
    padding: 10% 5%;
    margin: 20px;
    font-size: 30px;
    text-align: center;
    aspect-ratio: 1;
    background-color: #FFC5A7;
}

.grid-item img {
    width: 70%;
}

.grid-item .parent h3 {
    margin: 10% 0% 0% 0%;
    font-size: 1.1vw;
}

@media screen and (max-width:768px) {
    .grid-item .parent h3 {
        font-size: 2vw;
    }
}

@media screen and (max-width:425px) {
    .grid-item .parent h3 {
        font-size: 4vw;
    }
}

.hidden {
    display: none;
}

.visible {
    display: grid;
}

#cognito {
    width: 50%;
    margin-left: 53%;
}

#house {
    margin-bottom: -27%;
    margin-left: -10%;
    width: 90%;
}

/* hover effects */

/* hover image effects */
.parent:hover .child,
.parent:focus .child {
    transform: scale(1.09);
    transition: 0.4s ease-in-out;
}

.child {
    transition: 0.4s ease-in-out;
}

/* hover text effects */

.parent:hover h3,
.parent:focus h3 {
    transition: 0.4s ease-in-out;
    /*makes text centered*/
    color: #f9f7f0;
}

.parent,
.parent h3 {
    transition: 0.4s ease-in-out;

}


